<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% for item in orders %}
        <h1>{{ item.item }}</h1>
        <p>Наименование: {{ item.item }}</p>
        <p>Количество: {{ item.quantity }}</p>
        <p>Итоговая цена: {{ item.total_cost }}</p>
        <p>Имя заказчика: {{ item.customer_name }}</p>
        <p>Телефон: {{ item.phone }}</p>
        <a href="{% url 'add_to_cart' item.pk %}">Добавить в корзину</a>
        <a href="{% url 'update' item.pk %}">Изменить</a>
        <a href="{% url 'delete_order' item.pk %}">Удалить</a><br>
        <a href="{% url 'detail' item.pk %}">Подробная информация</a>
        <hr>
    {% endfor %}

    <a href="{% url 'create' %}">Создать</a>
</body>
</html>
